[mysqld]
!includedir /etc/mysql/conf.d/
user                              = mysql
bind-address                      = 0.0.0.0
wsrep_provider                    = /usr/lib/galera/libgalera_smm.so
wsrep_sst_method                  = rsync
default_storage_engine            = innodb
binlog_format                     = row
innodb_autoinc_lock_mode          = 2
innodb_flush_log_at_trx_commit    = 0
#query_cache_size                  = 0
#query_cache_type                  = 0
wsrep_cluster_name                = MyCluster
#wsrep_cluster_address             = "gcomm://192.168.0.1,192.168.0.2,192.168.0.3"
#wsrep_node_address                = "192.168.0.1"



##############################################

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

key_buffer_size = 5000M
read_buffer_size = 8M
read_rnd_buffer_size = 32M
myisam_sort_buffer_size = 256M

query_cache_type = 1
query_cache_size = 500M

thread_cache_size = 16
table_open_cache = 1024

max_connections = 1000

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid