[Unit]
Description=MongoDB for AWE server (instance: %i)
After=docker.service
Requires=docker.service

[Service]

Environment='CONTAINER=awe-server-mongodb-%i'
Environment='IMAGE=mgrast/mongodb:2.4.14'
Environment='SERVICE=awe-server-mongodb'


Environment='VIRTUAL_IP=140.221.76.249'
Environment='DEVICE=enp2s0f0'

TimeoutStartSec=0
EnvironmentFile=-/etc/environment


ExecStartPre=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/ip addr add ${VIRTUAL_IP}/24 brd + dev ${DEVICE} ; echo "add IP ${VIRTUAL_IP} (%i)"; else echo "do not add IP (%i)" ; fi'


ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

#ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -v /media/ephemeral/awe-server-%i/mongodb/:/data/db --expose=27017 ${IMAGE} /usr/bin/mongod

#ExecStartPost=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/arping -A -c 2 -I ${DEVICE} ${VIRTUAL_IP} ; fi'


ExecStop=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/ip addr del ${VIRTUAL_IP}/24 dev ${DEVICE} ; fi'
ExecStop=-/bin/bash -c "/usr/bin/docker stop ${CONTAINER} > /dev/null 2>&1"

[X-Fleet]
#MachineID=
#MachineMetadata=RAM_GB=47
Conflicts=awe-server-mongodb@*.service
MachineMetadata=HOSTNAME=bio-worker11-10g.mcs.anl.gov
