[Unit]
Description=api-testing
Requires=docker.service
After=docker.service

[Service]
Environment='IMAGE=mgrast/api-testing'
Environment='SERVICE=api-testing'
Environment='CONTAINER=api-testing'



# get image
# ExecStartPre=/bin/bash -c "/home/core/skycore pull --tag=latest etcd:${SERVICE}"


ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

#ExecStartPre=-/usr/bin/docker pull log-courier
ExecStart=/bin/bash -c "while [ true ] ; do sleep 10s ; \
    export JSON=$(docker run -i --rm --name ${CONTAINER} ${IMAGE}) ; \
    curl -L -X PUT http://bio-worker2:2379/v2/keys/services/api-testing -d value='{\"test\":true}' ; \
    done"


[X-Fleet]

