[Unit]
Description=MG-RAST API Server %i
After=docker.service
Requires=docker.service
Wants=api-server-discovery@%i.service

[Service]
Environment='IMAGE=mgrast/api'
Environment='SERVICE=api-server'
Environment='DIR=/media/ephemeral/api-server-%i'

Restart=always
TimeoutStartSec=0

EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker kill ${SERVICE}-$CHANNEL > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker rm ${SERVICE}-$CHANNEL > /dev/null 2>&1"

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent); ssh-add /etc/ssh/mgrast_coreos.pem; rm -rf ${DIR}/mgrast-config; mkdir -p ${DIR}; cd ${DIR}; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

# mk dirs and clean temp
ExecStartPre=/bin/mkdir -p ${DIR}/logs/api.metagenomics
ExecStartPre=/bin/chmod 777 ${DIR}/logs/api.metagenomics
ExecStartPre=/bin/rm -rf ${DIR}/tmp
ExecStartPre=/bin/mkdir -p ${DIR}/tmp
ExecStartPre=/bin/chmod 777 ${DIR}/tmp

# get image
ExecStartPre=/bin/bash -c "/home/core/skycore pull --tag=latest etcd:${SERVICE}-$(echo %i | cut -d . -f 2)"

# preprocessing: loading
ExecStartPre=/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker run --rm --name ${SERVICE}-$CHANNEL -v ${DIR}/data/:/m5nr ${IMAGE} bash /MG-RAST/bin/download_m5nr_blast.sh"
ExecStartPre=-/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker kill ${SERVICE}-$CHANNEL > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker rm ${SERVICE}-$CHANNEL > /dev/null 2>&1"

ExecStart=/bin/bash -c ' \
  export CHANNEL=$(echo %i | cut -d . -f 2); \
  docker run --rm --name ${SERVICE}-$CHANNEL -v ${DIR}/mgrast-config/services/api-server/:/api-server-conf/:rw -v ${DIR}/logs/:/var/log/httpd/:rw -v ${DIR}/data/:/m5nr:ro -v ${DIR}/tmp/:/MG-RAST/site/CGI/Tmp/:rw -v ${DIR}/mgrast-config/services/ssl/:/ssl:ro -p 80 -p 443 ${IMAGE} bash -c "/etc/init.d/postfix start; /bin/chmod 600 /api-server-conf/postgresql/*; /bin/chown daemon:daemon /api-server-conf/postgresql/*; /usr/local/apache2/bin/httpd -DFOREGROUND -f /api-server-conf/httpd.conf"'

ExecStop=-/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker stop ${SERVICE}-$CHANNEL > /dev/null 2>&1"

[X-Fleet]
Conflicts=api-server@*.service
Conflicts=solr-metagenome@*.service
