[Unit]
Description=api-server discovery
BindsTo=api-server@%i.service
After=api-server@%i.service


[Service]
Environment='CONTAINER=api-server-%i'
Environment='SERVICE=api-server'

EnvironmentFile=-/etc/environment

ExecStartPre=/bin/sh -c "while [ \"$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' )x\" == \"x\" ]; do echo \"port unknown\" ; /usr/bin/sleep 0.1 ; done"

ExecStart=/bin/bash -c "export PORT=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' ); echo \"port detected: $PORT\"; export BRANCH=$(echo %i | cut -d . -f 2); echo \"branch detected: $BRANCH\"; while true; do etcdctl set /services/${SERVICE}/$CHANNEL/${SERVICE}@%i \'{ \"host\":\"%H\",\"port\": \'\"$PORT\"\', \"COREOS_PRIVATE_IPV4\":\"${COREOS_PRIVATE_IPV4}\",\"COREOS_PUBLIC_IPV4\":\"${COREOS_PUBLIC_IPV4}\"}\' --ttl 60 ; sleep 45 ; done"

ExecStop=/usr/bin/etcdctl rm /services/${SERVICE}/$CHANNEL/${SERVICE}@%i

[X-Fleet]
MachineOf=api-server@%i.service