[Unit]
Description=AWE worker %i
After=docker.service
Requires=docker.service

[Service]
Environment='SERVICE=awe-worker'
Environment='VERSION=0.9.68'
Environment='DIR=/media/ephemeral/awe-worker/%i'

Restart=always
TimeoutStartSec=0
EnvironmentFile=-/etc/environment

# set dirs
ExecStartPre=/bin/rm -rf ${DIR}
ExecStartPre=/bin/mkdir -p ${DIR} ${DIR}/logs ${DIR}/data ${DIR}/work

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent); ssh-add /etc/ssh/mgrast_coreos.pem; rm -rf ${DIR}/mgrast-config; mkdir -p ${DIR}; cd ${DIR}; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

# get binary
ExecStartPre=/bin/curl -L -o ${DIR}/awe-worker https://github.com/MG-RAST/AWE/releases/download/v${VERSION}/awe-worker
ExecStartPre=/bin/chmod +x ${DIR}/awe-worker

ExecStart=/bin/bash -c ' \
  export NUMBER=$(echo %i | cut -d . -f 1); \
  export GROUP=$(echo %i | cut -d . -f 2); \
  ${DIR}/awe-worker \
    --conf ${DIR}/mgrast-config/services/awe-worker/awe.cfg \
    --debuglevel 3 \
    --workpath ${DIR}/work \
    --data ${DIR}/data \
    --logs ${DIR}/logs \
    --group $GROUP \
    --name %H.$GROUP.$NUMBER' \
    --domain bio-worker

[X-Fleet]
Conflicts=solr-metagenome@*.service
Conflicts=awe-server@*.service
