[Unit]
Description=awe-server discovery
BindsTo=awe-server@%i.service
After=awe-server@%i.service


[Service]
Environment='CONTAINER=awe-server-%i'
Environment='SERVICE=awe-server'

EnvironmentFile=-/etc/environment

ExecStartPre=/bin/sh -c "\
  while [ \"$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"8001/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' )x\" == \"x\" ]; \
    do echo \"port unknown\"; \
    sleep 0.1; \
  done"

ExecStart=/bin/bash -c "\
  export APIPORT=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"8001/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' ); \
  echo \"apiport detected: $APIPORT\"; \
  export MONPORT=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' ); \
  echo \"monport detected: $MONPORT\"; \
  while true; do \
    etcdctl set /services/${SERVICE}/${SERVICE}@%i \'{\"host\":\"%H\",\"apiport\":\'\"$APIPORT\"\',\"monitorport\":\'\"$MONPORT\"\',\"COREOS_PRIVATE_IPV4\":\"${COREOS_PRIVATE_IPV4}\",\"COREOS_PUBLIC_IPV4\":\"${COREOS_PUBLIC_IPV4}\"}\' --ttl 60; \
    sleep 45; \
  done"

ExecStop=/usr/bin/etcdctl rm /services/${SERVICE}/${SERVICE}@%i

[X-Fleet]
MachineOf=awe-server@%i.service