[Unit]
Description=AWE client %i
After=docker.service
Requires=docker.service

[Service]
Environment='CONTAINER=awe-client-%i'
Environment='IMAGE=mgrast/awe'
Environment='SERVICE=awe-client'
Environment='DIR=/media/ephemeral/awe-client/%i'

Restart=always
TimeoutStartSec=0

EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent); ssh-add /etc/ssh/mgrast_coreos.pem; rm -rf ${DIR}/mgrast-config; mkdir -p ${DIR}; cd ${DIR}; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

# set dirs
ExecStartPre=/bin/mkdir -p ${DIR}/logs ${DIR}/data ${DIR}/work

# get image
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

ExecStart=/bin/bash -c ' \
  export NUMBER=$(echo %i | cut -d . -f 1); \
  export GROUP=$(echo %i | cut -d . -f 2); \
  docker run --rm --name ${CONTAINER} \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /sys/fs/cgroup/memory/:/cgroup_memory/:ro \
    -v ${DIR}/mgrast-config/services/awe-client/awe.cfg:/awe.cfg:ro \
    -v ${DIR}/logs/:/mnt/awe/logs/ \
    -v ${DIR}/data/:/mnt/awe/data/ \
    -v ${DIR}/work/:/mnt/awe/work/ \
    ${IMAGE} /gopath/bin/awe-client --conf=/awe.cfg --group=$GROUP --name=%H.$GROUP.$NUMBER'

ExecStop=-/bin/bash -c "/usr/bin/docker stop ${CONTAINER} > /dev/null 2>&1"

[X-Fleet]
Conflicts=solr-metagenome@*.service
Conflicts=awe-server@*.service
