[Unit]
Description=AWE server
After=docker.service
Requires=docker.service
Wants=%p-discovery@%i.service

[Service]
Environment='CONTAINER=awe-server-%i'
Environment='IMAGE=mgrast/awe'
Environment='SERVICE=awe-server'
Environment='DIR=/media/ephemeral/awe-server-%i'
Environment='TITLE=MG-RAST AWE server'

TimeoutStartSec=0
Restart=always

EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent); ssh-add /etc/ssh/mgrast_coreos.pem; rm -rf ${DIR}/mgrast-config; mkdir -p ${DIR}; cd ${DIR}; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

# set dirs
ExecStartPre=/bin/mkdir -p ${DIR}/logs ${DIR}/data

# get image
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 8000:8000 -p 8001:8001 -v ${DIR}/mgrast-config/services/awe-server/awe.cfg:/awe.cfg:ro -v ${DIR}/logs/:/mnt/awe/logs/ -v ${DIR}/data/:/mnt/awe/data/ ${IMAGE}:latest /gopath/bin/awe-server --recover --conf=/awe.cfg --use_app_defs=yes --title=${TITLE} --logoutput=both

ExecStop=-/bin/bash -c "/usr/bin/docker stop ${CONTAINER} > /dev/null 2>&1"

[X-Fleet]
MachineMetadata=HOSTNAME=bio-worker1-10g.mcs.anl.gov
