[Unit]
Description=AWE2 server
After=docker.service
Requires=docker.service
Wants=%p-discovery@%i.service
Wants=%p-monitor@%i.service

[Service]
Environment='CONTAINER=awe2-server-%i'
Environment='IMAGE=mgrast/awe:develop'
Environment='SERVICE=awe2-server'
Environment='SERVICE_DIR=/media/ephemeral/awe2-server-%i'
Environment='TITLE=MG-RAST AWE2 server'

TimeoutStartSec=0
Restart=always

EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

# get config repo
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F github.com | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H github.com >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'rm -rf ${SERVICE_DIR}/mgconf ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; GIT_SSH_COMMAND="ssh -i /etc/ssh/mgrast_coreos.pem" git clone git@github.com:MG-RAST/mgconf.git'



# set dirs
ExecStartPre=/bin/mkdir -p ${SERVICE_DIR}/logs ${SERVICE_DIR}/data

# get image
ExecStartPre=/usr/bin/docker pull ${IMAGE}

ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 8000:8000 -p 8001:8001 \
  -v ${SERVICE_DIR}/mgconf/services/awe2-server/awe.cfg:/awe.cfg:ro \
  -v ${SERVICE_DIR}/logs/:/mnt/awe/logs/ \
  -v ${SERVICE_DIR}/data/:/mnt/awe/data/ \
  ${IMAGE} \
    /gopath/bin/awe-server \
      --recover \
      --conf=/awe.cfg \
      --use_app_defs=yes \
      --title=${TITLE} \
      --logoutput=file \
      --memprofile=/mnt/awe/logs/memprofile.prof

ExecStop=-/bin/bash -c "/usr/bin/docker stop ${CONTAINER} > /dev/null 2>&1"

[X-Fleet]
Conflicts=awe-server@*.service
MachineMetadata=HOSTNAME=bio-worker19-10g.mcs.anl.gov