[Unit]
Description=mg-rast.org certificates
#Requires=docker.service
#After=docker.service

[Service]
Environment='SERVICE_DIR=/media/ephemeral/letsencrypt/'

TimeoutStartSec=300s

Restart=always
#EnvironmentFile=-/etc/environment

# get old config repo
# ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts ; fi'
# ExecStartPre=/bin/bash -c 'rm -rf ${SERVICE_DIR}mgrast-config ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; GIT_SSH_COMMAND="ssh -i /etc/ssh/mgrast_coreos.pem" git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F github.com | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H github.com >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'rm -rf ${SERVICE_DIR}/config ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; GIT_SSH_COMMAND="ssh -i /etc/ssh/mgrast_coreos.pem" git clone git@github.com:MG-RAST/config.git'


Environment=GIT_SSH_COMMAND="ssh -o IdentitiesOnly=yes -i ${SERVICE_DIR}/config/ssh_key/mgrast-2017.pem"


# get certs repo
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F github.com | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H github.com >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'sleep 3 ; chmod 600 ${SERVICE_DIR}/config/ssh_key/mgrast-2017.pem ; rm -rf ${SERVICE_DIR}/certs ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; sleep 3 ; git clone git@github.com:MG-RAST/certs.git'




ExecStart=/usr/bin/bash -c 'while [ 1 ] ; do sleep 3 ; cd ${SERVICE_DIR}certs ; git pull ; sleep $[ ( $RANDOM % 60 ) + 24*60 ]m ; done'


[X-Fleet]
Global=true



