[Unit]
Description=mg-rast.org certificate renewal
#Requires=docker.service
#After=docker.service
BindsTo=mg-rast-nginx@%i.service
After=mg-rast-nginx@%i.service


[Service]
Environment='SERVICE_DIR=/media/ephemeral/letsencrypt/'

TimeoutStartSec=300s

Restart=always


Environment='GIT_SSH_COMMAND=ssh -i ${SERVICE_DIR}/mgrast-config/ssh_key/mgrast-2017.pem'



ExecStart=/usr/bin/bash -c 'cd ${SERVICE_DIR}/certs ; \
  while [ 1 ] ; do \
    docker rm -f letsencrypt ; \
    docker run --rm --name letsencrypt -p 5000:80 -p 5001:443 -v ${SERVICE_DIR}/certs:/etc/letsencrypt -v /var/lib/letsencrypt certbot/certbot renew ; \
    if [ $(git status --porcelain | wc -l) -eq 0 ] ; then \
      echo "no changes in certs directory"; \
    else  \
      git config --global push.default simple ; \
      git config user.name "bio-worker" ; \
      git config user.email "bio-worker@localhost" ; \
      chmod 600 /media/ephemeral/confd/mgrast-config/ssh_key/mgrast-2017.pem ; \
      git pull ; \
      git add * ; \
      git commit -m "automatically add changes" ; \
      git push ; \
      /usr/bin/docker exec mgrast_nginx nginx -s reload ; \
    fi ; \
    sleep $[ ( $RANDOM % 60 ) + 24*60 ]m ; \
  done'


[X-Fleet]
MachineOf=mg-rast-nginx@%i.service



