[Unit]
Description=MG-RAST Elasticsearch %i
After=docker.service
Requires=docker.service
Wants=elasticsearch-discovery@%i.service

[Service]
Environment='SERVICE=elasticsearch'
Environment='CONTAINER=elasticsearch'
Environment='SERVICE_DIR=/media/ephemeral/elasticsearch'
#Environment='IMAGE=elasticsearch:5.0.0'
Environment='IMAGE=docker.elastic.co/elasticsearch/elasticsearch:5.2.2'


TimeoutStartSec=0
Restart=always
RestartSec=30
EnvironmentFile=-/etc/environment


# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent); ssh-add /etc/ssh/mgrast_coreos.pem; rm -rf ${SERVICE_DIR}/mgrast-config; mkdir -p ${SERVICE_DIR}; cd ${SERVICE_DIR}; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

# clear containers
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"


# get image
ExecStartPre=/bin/bash -c "docker pull ${IMAGE}"

# create cluster if it does not exist.
# if cluster exists, continue
# if cluster does not exist, wait until enough nodes show up
ExecStartPre=/bin/bash -c "export NODE_NAME=$(echo ${HOSTNAME} | grep -o 'bio-worker[0-9]\\+') ; ${SERVICE_DIR}/mgrast-config/services/${SERVICE}/init_cluster.sh"


ExecStartPre=/usr/sbin/sysctl -w vm.max_map_count=262144

ExecStart=/bin/bash -c "  \
  export SERVICE=${SERVICE} ; \
  export SERVICE_DIR=${SERVICE_DIR} ; \
  export CONTAINER=${CONTAINER} ; \
  export IMAGE=${IMAGE} ; \
  ${SERVICE_DIR}/mgrast-config/services/${SERVICE}/start_ES.sh"


[X-Fleet] 	
Conflicts=elasticsearch@*.service
MachineMetadata=HOSTNAME=bio-worker10-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker11-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker12-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker13-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker14-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker15-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker16-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker17-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker18-10g.mcs.anl.gov


