[Unit]
Description=Jenkins slave
After=docker.service
Requires=docker.service
#Wants=%p-discovery@%i.service

[Service]
Environment='IMAGE=jenkins/ssh-slave:latest'
Environment='SERVICE=jenkins'
Environment='SERVICE_DIR=/media/ephemeral/%p/%i'
Environment='CONTAINER=jenkins-slave-%i'


Restart=always
TimeoutStartSec=0

EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F github.com | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H github.com >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'rm -rf ${SERVICE_DIR}/mgconf ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; GIT_SSH_COMMAND="ssh -i /etc/ssh/mgrast_coreos.pem" git clone git@github.com:MG-RAST/mgconf.git'



# get image
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStartPre=/bin/bash -c 'cd ${SERVICE_DIR}/mgconf/services/${SERVICE}/ ; ./get_docker_binary.sh'

### ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p ${COREOS_PRIVATE_IPV4}:32769:8080 -p 50000:50000  --env JENKINS_OPTS="--prefix=/jenkins" -v jenkins_home:/var/jenkins_home -v ${SERVICE_DIR}/mgconf/services/${SERVICE}/jenkins.conf:/etc/default/jenkins ${IMAGE}
ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 8002:22 --env-file ${SERVICE_DIR}/mgconf/services/${SERVICE}/slave.env -v /var/run/docker.sock:/var/run/docker.sock -v ${SERVICE_DIR}/mgconf/services/${SERVICE}/docker:/usr/bin/docker ${IMAGE}


ExecStop=-/bin/bash -c "/usr/bin/docker stop ${CONTAINER} > /dev/null 2>&1"
ExecStop=-/bin/rm -rf ${SERVICE_DIR}

[X-Fleet]
MachineMetadata=HOSTNAME=bio-worker5-10g.mcs.anl.gov