[Unit]
Description=Logstash-forwarder
After=docker.service
Requires=docker.service

[Service]
Restart=always

Environment='SERVICE=logstash-forwarder'
Environment='CONFIGDIR=/home/core/mgrast-config/services/${SERVICE}'

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F git.mcs.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H git.mcs.anl.gov >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent) ; ssh-add /etc/ssh/mgrast_coreos.pem ; if cd /home/core/mgrast-config; then git pull; else cd /home/core/ ; git clone git@git.mcs.anl.gov:mgrast-config.git ; fi'

ExecStartPre=-/usr/bin/docker pull digitalwonderland/logstash-forwarder:latest
ExecStart=/bin/bash -c "/usr/bin/journalctl -b -o json -f | /usr/bin/docker run --name ${SERVICE} -v${CONFIGDIR}/logstash-forwarder.crt:/logstash-forwarder.crt -v${CONFIGDIR}/logstash-forwarder.conf:/etc/logstash-forwarder.conf  -i logstash-forwarder 

[X-Fleet]
Global=true
