[Unit]
Description=Memcached Service discovery
BindsTo=memcached.service
After=memcached.service

[Service]
Environment='CONTAINER=memcached'
Environment='SERVICE=memcached'

EnvironmentFile=-/etc/environment

ExecStartPre=/bin/sh -c " \
  while [ \"$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"11211/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n')x\" == \"x\" ]; \
    do echo \"port unknown\"; \
    sleep 0.1; \
  done"

ExecStart=/bin/bash -c "\
  export PORT=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"11211/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' ); \
  echo \"port detected: $PORT\"; \
  while true; do \
    etcdctl set /services/${SERVICE}/%H \"${COREOS_PUBLIC_IPV4}:$PORT\" --ttl 600; \
    sleep 590; \
  done"

ExecStop=/usr/bin/etcdctl rm /services/${SERVICE}/%H

[X-Fleet]
Global=true
MachineMetadata=HOSTNAME=bio-worker1-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker4-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker5-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker6-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker7-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker8-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker10-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker11-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker12-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker13-10g.mcs.anl.gov

# all IPs: 140.221.76.66,140.221.76.70,140.221.76.71,140.221.76.72,140.221.76.73,140.221.76.74,140.221.76.76,140.221.76.77,140.221.76.67,140.221.76.81
