[Unit]
Description=Memcached Service
After=docker.service
Requires=docker.service

[Service]
Environment='CONTAINER=memcached'
Environment='IMAGE=mgrast/memcached'
Environment='SERVICE=memcached'

Restart=always
EnvironmentFile=-/etc/environment

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 11211:11211 memcached -m 4096

ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
Global=true
MachineMetadata=HOSTNAME=bio-worker1-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker4-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker5-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker6-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker7-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker8-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker10-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker11-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker12-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker13-10g.mcs.anl.gov

# all IPs: 140.221.76.66,140.221.76.70,140.221.76.71,140.221.76.72,140.221.76.73,140.221.76.74,140.221.76.76,140.221.76.77,140.221.76.67,140.221.76.81