[Unit]
Description=Memcached Service
After=docker.service
Requires=docker.service
Wants=memcached-discovery.service

[Service]
Environment='CONTAINER=memcached'
Environment='IMAGE=memcached:1.4-alpine'
Environment='SERVICE=memcached'

TimeoutStartSec=0
Restart=always
EnvironmentFile=-/etc/environment

ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 11211:11211 ${IMAGE} memcached -m 4096

ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
Global=true
MachineMetadata=HOSTNAME=bio-worker1-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker5-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker6-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker7-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker8-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker10-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker12-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker15-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker16-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker17-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker18-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker19-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker20-10g.mcs.anl.gov

