[Unit]
Description=MG-RAST Nginx
After=docker.service
Requires=docker.service


[Service]
Environment='CONTAINER=mgrast_nginx'
Environment='IMAGE=mgrast/nginxconfd'
Environment='SERVICE=mg-rast-nginx'

Environment='VIRTUAL_IP=140.221.76.250'
Environment='DEVICE=enp2s0f0'


Restart=always
EnvironmentFile=-/etc/environment


ExecStartPre=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/ip addr add ${VIRTUAL_IP}/24 brd + dev ${DEVICE} ; echo "add IP ${VIRTUAL_IP} (%i)"; else echo "do not add IP (%i)" ; fi'


# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F git.mcs.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H git.mcs.anl.gov >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent) ; ssh-add /etc/ssh/mgrast_coreos.pem ; if cd /home/core/mgrast-config; then git pull; else cd /home/core/ ; git clone git@git.mcs.anl.gov:mgrast-config.git ; fi'



ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}


ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 80:80 -v /home/core/mgrast-config/services/nginx/:/config:ro -v /home/core/mgrast-config/services/ssl/:/ssl:ro -v /media/ephemeral/confd/sites-enabled/:/sites-enabled-confd/:ro ${IMAGE}:latest /usr/sbin/nginx -c /config/nginx.conf

ExecStartPost=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/sbin/arping -A -c 2 -I ${DEVICE} ${VIRTUAL_IP} ; fi'



ExecStop=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/ip addr del ${VIRTUAL_IP}/24 dev ${DEVICE} ; fi'
ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
MachineOf=mg-rast-confd.service 