[Unit]
Description=MG-RAST Nginx
Requires=mg-rast-nginx.service
After=mg-rast-nginx.service

[Service]
Environment='CONTAINER=mgrast_confd'
Environment='IMAGE=mgrast/nginxconfd'
Environment='SERVICE=mg-rast-confd'



Restart=always
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}

#should not be needed as it uses the same image as nginx!
#ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

# I do not get output from docker....
ExecStart=/usr/bin/bash -c "/usr/bin/docker run --rm --name ${CONTAINER} --env DOCKERVERSION=$(/usr/bin/docker --version | grep '[0-9]*\.[0-9]*\.[0-9]' -o) --volumes-from mgrast_nginx -v /var/run/docker.sock:/var/run/docker.sock ${IMAGE}:latest /MG-RAST-infrastructure/services/nginx/confd/run_confd.sh"


ExecStop=/usr/bin/docker stop ${CONTAINER}


[X-Fleet]
MachineOf=mg-rast-nginx@%i.service
