[Unit]
Description=MG-RAST Nginx
After=docker.service
Requires=docker.service

[Service]
Environment='CONTAINER=mgrast_nginx'
Environment='IMAGE=mgrast/nginxconfd'
Environment='SERVICE=mg-rast-nginx'

Restart=always
EnvironmentFile=-/etc/environment

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 80:80 -v /etc/nginx/sites-enabled/ ${IMAGE}:latest /usr/sbin/nginx -c /MG-RAST-infrastructure/services/nginx/nginx.conf

ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
Global=true
MachineMetadata=HOSTNAME=bio-worker3-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker4-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker5-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker6-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker8-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker11-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker13-10g.mcs.anl.gov
MachineMetadata=HOSTNAME=bio-worker14-10g.mcs.anl.gov
