[Unit]
Description=MG-RAST Nginx
After=docker.service
Requires=docker.service


[Service]
Environment='CONTAINER=mgrast_nginx'
Environment='IMAGE=nginx:1.15.4' # !!!!!!   if you update this version number, also update it mg-rast-confd.service !!!!!!

#old: Environment='IMAGE=mgrast/nginxconfd'
Environment='SERVICE=mg-rast-nginx'

Environment='VIRTUAL_IP=140.221.76.250'
Environment='DEVICE=enp2s0f0'

Environment='SERVICE_DIR=/media/ephemeral/nginx'

Restart=always
EnvironmentFile=-/etc/environment


ExecStartPre=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/ip addr add ${VIRTUAL_IP}/24 brd + dev ${DEVICE} ; echo "add IP ${VIRTUAL_IP} (%i)"; else echo "do not add IP (%i)" ; fi'


# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent) ; ssh-add /etc/ssh/mgrast_coreos.pem ; rm -rf ${SERVICE_DIR}/mgrast-config ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'



ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"


ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 80:80 -p 443:443 -v ${SERVICE_DIR}/mgrast-config/services/nginx/:/config:ro -v ${SERVICE_DIR}/mgrast-config/services/ssl/:/ssl:ro -v /media/ephemeral/confd/sites-enabled/:/sites-enabled-confd/:ro -v /media/ephemeral/letsencrypt/:/letsencrypt/:ro  ${IMAGE}:latest /usr/sbin/nginx -c /config/nginx.conf

#ExecStartPost=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/arping -A -c 2 -I ${DEVICE} ${VIRTUAL_IP} ; fi'



ExecStop=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/ip addr del ${VIRTUAL_IP}/24 dev ${DEVICE} ; fi'
ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
MachineOf=mg-rast-confd.service
Conflicts=mg-rast-nginx*
Conflicts=awe-monitor*
