[Unit]
Description=mg-rast-v4-web discovery
BindsTo=mg-rast-v4-web@%i.service
After=mg-rast-v4-web@%i.service

[Service]
Environment='SERVICE=mg-rast-v4-web'
EnvironmentFile=-/etc/environment

ExecStartPre=/bin/sh -c " \
  export CHANNEL=$(echo %i | cut -d . -f 2); \
  while [ \"$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${SERVICE}-$CHANNEL | tr -d '\n' )x\" == \"x\" ]; \
  do echo \"port unknown\"; \
  sleep 0.1; done"

ExecStart=/bin/bash -c " \
  export CHANNEL=$(echo %i | cut -d . -f 2); \
  echo \"channel detected: $CHANNEL\"; \
  export PORT=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${SERVICE}-$CHANNEL | tr -d '\n' ); \
  echo \"port detected: $PORT\"; \
  while true; do \
    etcdctl set /services/${SERVICE}/$CHANNEL/${SERVICE}@%i \'{\"host\":\"%H\",\"port\":\'\"$PORT\"\',\"COREOS_PRIVATE_IPV4\":\"${COREOS_PRIVATE_IPV4}\",\"COREOS_PUBLIC_IPV4\":\"${COREOS_PUBLIC_IPV4}\"}\' --ttl 60; \
    sleep 45; \
  done"

ExecStop=/bin/bash -c " \
  export CHANNEL=$(echo %i | cut -d . -f 2); \
  /usr/bin/etcdctl rm /services/${SERVICE}/$CHANNEL/${SERVICE}@%i"

[X-Fleet]
MachineOf=mg-rast-v4-web@%i.service
