[Unit]
Description=mg-rast-v3-web motd
BindsTo=mg-rast-v3-web-discovery@%i.service
After=mg-rast-v3-web-discovery@%i.service

[Service]
Environment='SERVICE=mg-rast-v3-web'
Environment='DIR=/media/ephemeral/%p/%i'
EnvironmentFile=-/etc/environment

ExecStartPre=/bin/curl -L -o ${DIR}/MGRAST.motd https://raw.githubusercontent.com/MG-RAST/MG-RAST-infrastructure/master/services/web-v3/MGRAST.motd

ExecStart=/bin/bash -c " \
    export CHANNEL=$(echo %i | cut -d . -f 2); \
    cat ${DIR}/MGRAST.motd | docker exec -i ${SERVICE}-$CHANNEL tee /MG-RAST/site/CGI/MGRAST.motd; \
    sleep infinity"

ExecStop=/bin/bash -c " \
    export CHANNEL=$(echo %i | cut -d . -f 2); \
    docker exec -i ${SERVICE}-$CHANNEL rm -f /MG-RAST/site/CGI/MGRAST.motd"

[X-Fleet]
MachineOf=mg-rast-v3-web@%i.service
