[Unit]
Description=mg-rast-v3-web discovery
BindsTo=mg-rast-v3-web@%i.service
After=mg-rast-v3-web@%i.service


[Service]
Environment='CONTAINER=mg-rast-v3-web-%i'
Environment='IMAGE=mgrast/v3-web'
Environment='SERVICE=mg-rast-v3-web'

EnvironmentFile=-/etc/environment

ExecStartPre=/bin/sh -c "while [ \"$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' )x\" == \"x\" ]; do echo \"port unknown\" ; /usr/bin/sleep 0.1 ; done"

ExecStart=/bin/bash -c "export HTTP=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"80/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' ); echo \"http port detected: $HTTP\"; export HTTPS=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"443/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n' ); echo \"https port detected: $HTTPS\"; export CHANNEL=$(echo %i | cut -d . -f 2); echo \"channel detected: $CHANNEL\"; while true; do etcdctl set /services/${SERVICE}/$CHANNEL/${SERVICE}@%i \'{ \"host\":\"%H\",\"http\":\'\"$HTTP\"\',\"https\":\'\"$HTTPS\"\',\"COREOS_PRIVATE_IPV4\":\"${COREOS_PRIVATE_IPV4}\",\"COREOS_PUBLIC_IPV4\":\"${COREOS_PUBLIC_IPV4}\"}\' --ttl 60 ; sleep 45 ; done"

ExecStop=/usr/bin/etcdctl rm /services/${SERVICE}/$CHANNEL/${SERVICE}@%i

[X-Fleet]
MachineOf=mg-rast-v3-web@%i.service