[Unit]
Description=MG-RAST Nginx
After=mg-rast-nginx-image.service
Requires=mg-rast-nginx-image.service


[Service]
Environment='CONTAINER=mgrast_nginx'
Environment='IMAGE=mgrast/nginxconfd'
Environment='SERVICE=mg-rast-nginx'

Environment='VIRTUAL_IP=140.221.76.250'
Environment='DEVICE=enp2s0f0'


Restart=always
EnvironmentFile=-/etc/environment


ExecStartPre=-/usr/bin/ip addr add ${VIRTUAL_IP}/24 brd + dev ${DEVICE}


ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} -p 80:80 -v /etc/nginx/sites-enabled/ ${IMAGE}:latest /usr/sbin/nginx -c /MG-RAST-infrastructure/services/nginx/nginx.conf

ExecStartPost=-/usr/sbin/arping -A -c 2 -I ${DEVICE} ${VIRTUAL_IP}


ExecStop=-/usr/bin/ip addr del ${VIRTUAL_IP}/24 dev ${DEVICE}
ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
MachineOf=mg-rast-nginx-image.service 