[Unit]
Description=MG-RAST v4 web frontend
After=docker.service
Requires=docker.service
Wants=%p-discovery@%i.service

[Service]
Environment='IMAGE=mgrast/v4-web'
Environment='SERVICE=mg-rast-v4-web'
Environment='SERVICE_DIR=/media/ephemeral/%p/%i'

Restart=always
TimeoutStartSec=0

EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker kill ${SERVICE}-$CHANNEL > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker rm ${SERVICE}-$CHANNEL > /dev/null 2>&1"

# get config
# ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts; fi'
# ExecStartPre=/bin/bash -c 'eval $(ssh-agent); ssh-add /etc/ssh/mgrast_coreos.pem; rm -rf ${SERVICE_DIR}/mgrast-config; mkdir -p ${SERVICE_DIR}; cd ${SERVICE_DIR}; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F github.com | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H github.com >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'rm -rf ${SERVICE_DIR}/config ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; GIT_SSH_COMMAND="ssh -i /etc/ssh/mgrast_coreos.pem" git clone git@github.com:MG-RAST/config.git'

# Set v4url.confd
ExecStartPre=/bin/bash -c "mkdir -p ${SERVICE_DIR}/conf.d && echo \"SetEnv V4URL $(echo %i | cut -d . -f 2).metagenomics.anl.gov\" > ${SERVICE_DIR}/conf.d/v4url.conf"

# get image
#ExecStartPre=/bin/bash -c "/home/core/skycore pull --tag=latest etcd:${SERVICE}-$(echo %i | cut -d . -f 2)"
ExecStartPre=/bin/bash -c "${SERVICE_DIR}/config/services/web_v4/pull_docker_image.sh %i" 



#ExecStart=/bin/bash -c 'set -x ; \
#  export CHANNEL=$(echo %i | cut -d . -f 2); \
#  docker run --rm --name ${SERVICE}-$CHANNEL -p ${COREOS_PRIVATE_IPV4}::80 -v ${SERVICE_DIR}/config/services/web_v4/config.js:/usr/share/nginx/html/js/config.js ${IMAGE}:latest'

ExecStart=/bin/bash -c "export HOSTNAME=${HOSTNAME} ; ${SERVICE_DIR}/config/services/web_v4/start_container.sh %i"

ExecStop=-/bin/bash -c "export CHANNEL=$(echo %i | cut -d . -f 2); /usr/bin/docker stop ${SERVICE}-$CHANNEL > /dev/null 2>&1"
ExecStop=-/bin/rm -rf ${SERVICE_DIR}

[X-Fleet]
Conflicts=mg-rast-v4-web@*.service
Conflicts=solr-metagenome@*.service
