[Unit]
Description=MG-RAST resource monitor
Requires=docker.service
After=docker.service

[Service]
Environment='IMAGE=mgrast/checkres'
Environment='CONTAINER=checkres'



Environment='SERVICE_DIR=/media/ephemeral/checkres'
RestartSec=10
Restart=always



ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent) ; ssh-add /etc/ssh/mgrast_coreos.pem ; rm -rf ${SERVICE_DIR}/mgrast-config ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'



ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"


ExecStart=/usr/bin/docker run \
  --rm \
  --name ${CONTAINER} \
  -v ${SERVICE_DIR}/config/log_server/check_resources/:/check_resources/ \
  --workdir=/check_resources \
  ${IMAGE} /check_resources/check_resources.pl



ExecStop=/usr/bin/docker stop --time=10 ${CONTAINER}

[X-Fleet]