[Unit]
Description=mysql server backup
BindsTo=mysql_metadata@%i.service
After=mysql_metadata@%i.service

[Service]
Environment='CONTAINER=mysql-metadata-%i'
Environment='SERVICE_DIR=/media/ephemeral/mysql_metadata-%i'
Environment='CONFIG_DIR=/media/ephemeral/mysql_metadata-%i/mgrast-config/services/mysql_metadata'

ExecStartPre=/bin/mkdir -p ${SERVICE_DIR}/data/backup
ExecStartPre=/bin/chmod 777 ${SERVICE_DIR}/data/backup

# loop that runs 1x day, dump mysql than store in shock. 7 day ttl
ExecStart=/bin/bash ${CONFIG_DIR}/backup.sh ${SERVICE_DIR} ${CONFIG_DIR}/mysql.env ${CONTAINER} 86100

ExecStop=/bin/rm -rfv ${SERVICE_DIR}/data/backup

[X-Fleet]
MachineOf=mysql_metadata@%i.service
