[Unit]
Description=mysql galera server
After=docker.service
Requires=docker.service



# Instructions to start fresh empty cluster:
# > etcdctl rm --recursive /services/mysql_galera_metadata/
# > etcdctl set /services/mysql_galera_metadata/initnode none

# initnode is a lock that ensures that (only) the first node creates the cluster (avoids split-brain)


[Service]
Environment='CONTAINER=mysql-galera-metadata'
Environment='IMAGE=mysql-galera'
Environment='SERVICE=mysql_galera_metadata'

Environment='SERVICE_DIR=/media/ephemeral/mysql_galera_metadata'

TimeoutStartSec=0
EnvironmentFile=-/etc/environment

Environment='PORT3306=3306'
Environment='PORT4567=4567'
Environment='PORT4568=4568'
Environment='PORT4444=4444'


# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent) ; ssh-add /etc/ssh/mgrast_coreos.pem ; rm -rf ${SERVICE_DIR}/mgrast-config ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'


# prepare directories
ExecStartPre=-/bin/rm -rf ${SERVICE_DIR}
ExecStartPre=/bin/mkdir -p ${SERVICE_DIR}/log/ ${SERVICE_DIR}/data/ ${SERVICE_DIR}/log-bin/ ${SERVICE_DIR}/staging
ExecStartPre=/bin/chmod 777 ${SERVICE_DIR}/log/ ${SERVICE_DIR}/data/ ${SERVICE_DIR}/log-bin/ ${SERVICE_DIR}/staging


# remove old container
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1" 
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

# download docker image
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}


ExecStartPre=/bin/bash -c "set -x ; \
  export IMAGE=${IMAGE} ; \
  export CONTAINER=${CONTAINER} ; \
  export PORT=${PORT3306} ; \
  export DIR=${SERVICE_DIR} ; \
  ${SERVICE_DIR}/mgrast-config/services/mysql_metadata/mysql_replica_init.sh "

# create arguments for init / follower nodes
ExecStartPre=/bin/bash -c "${SERVICE_DIR}/mgrast-config/services/mysql_metadata/create_args.sh ${SERVICE} ${COREOS_PUBLIC_IPV4} %i"




### Start MySQL ###

ExecStart=/bin/bash -c "set -x ; \
  export COMMAND=`/usr/bin/etcdctl get /services/${SERVICE}/server/${SERVICE}@%i/args` ; \
  echo \"using args: $COMMAND\" ; \
  /usr/bin/docker run --name ${CONTAINER} --rm \
    -p ${PORT3306}:3306 \
    -p ${PORT4567}:4567 \
    -p ${PORT4568}:4568 \
    -p ${PORT4444}:4444 \
    -v ${SERVICE_DIR}/log-bin/:/log-bin/:rw \
    -v ${SERVICE_DIR}/data/:/var/lib/mysql/:rw \
    -v ${SERVICE_DIR}/log/:/var/log/mysql/:rw \
    -v ${SERVICE_DIR}/staging/:/staging:ro \
    -v ${SERVICE_DIR}/mgrast-config/services/mysql_metadata/mysql_galera.cnf:/etc/my.cnf \
    --entrypoint=/bin/bash \
    ${IMAGE} \
   -c \"chmod -R 777 /var/log/mysql/ /log-bin/ /var/lib/mysql/ ; chown -R mysql:mysql /var/log/mysql/ /log-bin/ /var/lib/mysql/ ; mysqld  --wsrep_node_name=%i --wsrep_node_address=${COREOS_PUBLIC_IPV4}:${PORT4567} $COMMAND \""


ExecStop=-/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
Conflicts=mysql_galera_metadata@*.service
Conflicts=mysql_metadata@*.service

