[Unit]
Description=mysql server
After=docker.service
Requires=docker.service
Wants=mysql_metadata-backup@%i.service

[Service]
Environment='CONTAINER=mysql-metadata-%i'
Environment='IMAGE=mysql/mysql-server'
Environment='SERVICE=mysql_metadata'
Environment='DIR=/media/ephemeral/mysql_metadata-%i'
Environment='DEVICE=enp2s0f0'

Restart=always
TimeoutStartSec=0

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent); ssh-add /etc/ssh/mgrast_coreos.pem; rm -rf ${DIR}/mgrast-config; mkdir -p ${DIR}; cd ${DIR}; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

EnvironmentFile=-/media/ephemeral/mysql_metadata-%i/mgrast-config/services/mysql_metadata/mysql.env

ExecStartPre=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/ip addr add ${VIRTUAL_IP}/24 brd + dev ${DEVICE} ; echo "add IP ${VIRTUAL_IP} (%i)"; else echo "do not add IP (%i)" ; fi'

# prepare directories
ExecStartPre=/bin/mkdir -p ${DIR}/log/ ${DIR}/data/
ExecStartPre=/bin/chmod 777 ${DIR}/log/ ${DIR}/data/

# remove old container
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1" 
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

# download docker image
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${SERVICE}

ExecStart=/usr/bin/docker run --name ${CONTAINER} --rm -p 3306:3306 -v ${DIR}/data/:/var/lib/mysql/ -v ${DIR}/log/:/var/log/mysqld/ -v ${DIR}/mgrast-config/services/mysql_metadata/mysql.cnf:/etc/my.cnf -e MYSQL_ROOT_PASSWORD=${ROOT_PASSWORD} ${IMAGE}

ExecStartPost=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/sbin/arping -A -c 2 -I ${DEVICE} ${VIRTUAL_IP} ; fi'

ExecStop=-/bin/bash -c 'if [ %i == 1 ] ; then /usr/bin/ip addr del ${VIRTUAL_IP}/24 dev ${DEVICE} ; fi'
ExecStop=-/bin/bash -c "/usr/bin/docker stop ${CONTAINER} > /dev/null 2>&1"

[X-Fleet]
#Conflicts=mysql_metadata@*.service
MachineMetadata=HOSTNAME=bio-worker4-10g.mcs.anl.gov
