[Unit]
Description=mysql galera server discovery
BindsTo=mysql_galera_metadata@%i.service
After=mysql_galera_metadata@%i.service

[Service]
Environment='CONTAINER=mysql-galera-metadata-%i'
Environment='SERVICE=mysql_galera_metadata'

EnvironmentFile=-/etc/environment

ExecStartPre=/bin/sh -c " \
  while [ \"$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"3306/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n')x\" == \"x\" ]; \
    do echo \"port unknown\"; \
    sleep 0.1; \
  done"

ExecStart=/bin/bash -c " \
  export PORT3306=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"3306/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n'); \
  echo \"port detected: $PORT3306\"; \
  export PORT4567=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"4567/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n'); \
  echo \"port detected: $PORT4567\"; \
  export PORT4568=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"4568/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n'); \
  echo \"port detected: $PORT4568\"; \
  export PORT4444=$(docker inspect --format='{{(index (index .NetworkSettings.Ports \"4444/tcp\") 0).HostPort}}' ${CONTAINER} | tr -d '\n'); \
  echo \"port detected: $PORT4444\"; \
  while true; do \
    etcdctl set /services/${SERVICE}/server/${SERVICE}@%i/discovery \'{\"host\":\"%H\",\"PORT3306\":\'\"$PORT3306\"\',\"PORT4567\":\'\"$PORT4567\"\',\"PORT4568\":\'\"$PORT4568\"\',\"PORT4444\":\'\"$PORT4444\"\',\"COREOS_PRIVATE_IPV4\":\"${COREOS_PRIVATE_IPV4}\",\"COREOS_PUBLIC_IPV4\":\"${COREOS_PUBLIC_IPV4}\"}\' --ttl 60; \
    sleep 45; \
  done"

ExecStop=/bin/bash -c " \
  echo \"stopping, removing ${SERVICE}@%i from etcd\"; \
  etcdctl rm /services/${SERVICE}/server/${SERVICE}@%i"

[X-Fleet]
MachineOf=mysql_galera_metadata@%i.service
