[Unit]
Description=mysql server backup
BindsTo=mysql_metadata@%i.service
After=mysql_metadata@%i.service

[Service]
Environment='CONTAINER=mysql-metadata-%i'
Environment='DATA_DIR=/media/ephemeral/mysql_metadata-%i/data'
Environment='CONFIG_DIR=/media/ephemeral/mysql_metadata-%i/config/services/mysql_metadata'

ExecStartPre=/bin/mkdir -p ${DATA_DIR}/backup
ExecStartPre=/bin/chmod 777 ${DATA_DIR}/backup

# loop that runs 1x day, dump mysql than store in shock. 7 day ttl
ExecStart=/bin/bash ${CONFIG_DIR}/backup.sh ${DATA_DIR} ${CONFIG_DIR}/mysql.env ${CONTAINER} 86100

ExecStop=/bin/rm -rfv ${DATA_DIR}/backup

[X-Fleet]
MachineOf=mysql_metadata@%i.service
