[Unit]
Description=Solr metagenome
After=docker.service
Requires=docker.service
Wants=solr-metagenome-backup@%i.service

[Service]
Environment='CONTAINER=solr-metagenome'
Environment='IMAGE=mgrast/solr-metagenome'
Environment='SERVICE_DIR=/media/ephemeral/solr-metagenome'
Environment='SERVICE_BIN=/MG-RAST-infrastructure/services/solr-metagenome'

# get config
ExecStartPre=/bin/bash -c 'mkdir -p ~/.ssh/ ; if [ `ssh-keygen -F gitlab.cels.anl.gov | grep -v "^#" | wc -l` -eq "0" ]; then ssh-keyscan -H gitlab.cels.anl.gov >> ~/.ssh/known_hosts ; fi'
ExecStartPre=/bin/bash -c 'eval $(ssh-agent) ; ssh-add /etc/ssh/mgrast_coreos.pem ; rm -rf ${SERVICE_DIR}/mgrast-config ; mkdir -p ${SERVICE_DIR} ; cd ${SERVICE_DIR} ; git clone git@gitlab.cels.anl.gov:MG-RAST/mgrast-config.git'

Restart=always
TimeoutStartSec=0
EnvironmentFile=-/etc/environment

ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=/home/core/skycore pull --tag=latest etcd:${CONTAINER}

ExecStartPre=/bin/mkdir -p ${SERVICE_DIR}/data
ExecStartPre=/bin/chattr -R +C ${SERVICE_DIR}/data

ExecStart=/usr/bin/docker run --rm --name ${CONTAINER} --ulimit memlock=-1:-1 --ulimit nofile=100000:100000 --ulimit nproc=-1:-1 -v ${SERVICE_DIR}/data:/mnt -v ${SERVICE_DIR}/mgrast-config/services/solr-metagenome:/config -p ${COREOS_PRIVATE_IPV4}:8983:8983 ${IMAGE} ${SERVICE_BIN}/run-solr.sh

ExecStop=/usr/bin/docker exec ${CONTAINER} /opt/solr/bin/solr stop -p 8983
ExecStop=-/bin/bash -c "/usr/bin/docker stop ${CONTAINER} > /dev/null 2>&1"

[X-Fleet]
MachineMetadata=HOSTNAME=bio-worker2-10g.mcs.anl.gov
