[Unit]
Description=Solr metagenome backup
BindsTo=solr-metagenome@%i.service
After=solr-metagenome@%i.service

[Service]
Environment='CONTAINER=solr-metagenome'
Environment='DATA_DIR=/media/ephemeral/solr-metagenome/data'
Environment='CONFIG_DIR=/media/ephemeral/solr-metagenome/mgrast-config/services/solr-metagenome'

ExecStartPre=/bin/mkdir -p ${DATA_DIR}/backup

# loop that runs 1x week, tar solr data than store in shock. 1 month ttl
ExecStart=/bin/bash ${CONFIG_DIR}/backup.sh ${DATA_DIR} ${CONFIG_DIR}/sorl.env ${CONTAINER} 602000

ExecStop=/bin/rm -rfv ${DATA_DIR}/backup

[X-Fleet]
MachineOf=solr-metagenome@%i.service
