# MG-RAST message system
version: '2.0'

services:
  rabbitmq:
    image: rabbitmq:3.6.9-alpine
    # -p 4369:4369 -p 5671:5671 -p 5672:5672 
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER} 
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS} 
    # -v ${RABBITMQ}data/:/var/lib/rabbitmq/:rw
   # healthcheck:
  #    test: ["CMD", "rabbitmqctl", "status"]
   #   interval: 100s
    #  timeout: 10s
     # retries: 10
  
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      
  service-checker-api:
    image: mgrast/service-checker
    depends_on:
      - rabbitmq
    entrypoint:
      - /service-checker.pl
      - test_continues
      - api-server
    volumes:
      - ${MMS_CONFIG_FILE}:/config.yml:ro
      - ${DOCKER_BINARY}:/usr/bin/docker
      - /var/run/docker.sock:/var/run/docker.sock
  
  service-checker:
    image: mgrast/service-checker
    depends_on:
      - rabbitmq
    entrypoint:
      - /service-checker.pl
      - test_all_continues
    volumes:
      - ${MMS_CONFIG_FILE}:/config.yml:ro
  
  service-monitor:
    image: mgrast/service-monitor
    depends_on: 
      - service-checker
    volumes:
      - ${MMS_CONFIG_FILE}:/config/config.yml:ro
    entrypoint: 
      - ./service-monitor.py
  
  mms-email:
    image: mgrast/mms-email 
    entrypoint:
      - /mms-email.py  
    volumes:
      - ${MMS_CONFIG_FILE}:/config.yml:ro
        
