# MG-RAST message system
version: '3.1'

      
services:
  
  rabbitmq:
    image: rabbitmq:3.6.9-alpine
    # -p 4369:4369 -p 5671:5671 -p 5672:5672 
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER} 
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS} 
    # -v ${RABBITMQ}data/:/var/lib/rabbitmq/:rw
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 100s
      timeout: 10s
      retries: 10
          
  dbload:
    image: mgrast/event-loader
    volumes:
      - ${MMS_CONFIG_FILE}:/config/config.yml:ro
  
  
  
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      
      
  service-checker:
    image: mgrast/service-checker
    depends_on:
      - rabbitmq
    entrypoint:
      - /service-checker.pl
      - test_all_continues
    volumes:
      - ${MMS_CONFIG_FILE}:/config.yml:ro
      - ${MMS_DIR}/service-checker/service-checker.pl:/service-checker.pl:rw
      
  service-monitor:
    image: mgrast/service-monitor
    depends_on: 
      - service-checker
    volumes:
      - ${MMS_CONFIG_FILE}:/config/config.yml:ro
      - ${MMS_DIR}/service-monitor/service-monitor.py:/service-monitor.py:rw
    entrypoint: 
      - ./service-monitor.py
    
    
    
  mms-email:
    image: mgrast/mms-email 
    entrypoint:
      - /mms-email.py  
    volumes:
      - ${MMS_CONFIG_FILE}:/config/config.yml:ro
      - ${MMS_DIR}/mms-email.py:/mms-email.py
        
      
      
